.burger-menu {
    width: 60%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;                  
    z-index: 1000;
    transform: translateX(100%);
    opacity: 0;                 
    transition: transform 0.4s ease, opacity 0.4s ease; 
    .lung {
        position: absolute;
        top: 40px;
        left: 15px;
        display: flex;
        gap: 20px;
        a {
          color: #8a0f11;
          text-decoration: none;
          font-size: 15px;
          font-family: 'Stapel', sans-serif;
        }
    }
    &.open {
      transform: translateX(0);
      opacity: 1;               
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      font-size: 18px;
      font-family: 'Stapel', sans-serif;
      border-bottom: 1px solid #4b4343;
      margin: 20px 0;
      text-align: center;
      width: 100%;
  
      a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        display: block;
        width: 100%;
        transition: color 0.3s;
  
        &:hover {
          color: #cccccc;
        }
      }
    }
  }
  