.header {
    background: rgba(1, 1, 1, 1);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  .burger-btn {
      margin-left: 20px;
      position: absolute;
      left: 0px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
          width: 20px;
          height: 2px;
          border-radius: 2px;
          background: #ffffff;
      }
      &.active span {
          transform: rotate(45deg);
      }
      
      &.active::before {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
      }
      
      &.active::after {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
      }
  }

  .burger-btn::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background: #ffffff;
      border-radius: 2px;
      top: 0px;
      transition: 0.3s;
  }

  .burger-btn::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background: #ffffff;
      bottom: 0px;
      border-radius: 2px;
      transition: 0.3s;
  }

  .burger-btn {
      display: none;
  }

  .navigation {
      display: flex;
  }


  /* 4K и большие десктопы */
@media (min-width: 2560px) {
    /* Стили для разрешений от 2560px и выше */
  }
  
  /* Широкие мониторы и десктопы */
  @media (min-width: 1920px) and (max-width: 2559px) {
    /* Стили для разрешений 1920px - 2559px */
  }
  
  /* Обычные десктопы */
  @media (min-width: 1280px) and (max-width: 1919px) {
    /* Стили для разрешений 1280px - 1919px */
    
  }
  
  /* Переход на крупные планшеты */
  @media (min-width: 1024px) and (max-width: 1279px) {
    /* Стили для разрешений 1024px - 1279px */
  }
  
  /* Портретная ориентация планшетов и небольшие ноутбуки */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Стили для разрешений 768px - 1023px */
  }
  
  /* Большие смартфоны в альбомной ориентации */
  @media (max-width: 850px) {
    .burger-btn {
        display: flex;
    }
    .navigation {
        display: none;
    }
  }
  
  /* Средние смартфоны и крупные телефоны */
  @media (min-width: 480px) and (max-width: 575px) {
    /* Стили для разрешений 480px - 575px */
  }
  
  /* Маленькие смартфоны и небольшие экраны */
  @media (max-width: 479px) {
    /* Стили для разрешений до 479px */
  }
  
}
