@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Stapel', sans-serif;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.splide__pagination__page {
    width: 12px;
    height: 12px;
    background-color: gray; // Неактивные точки серого цвета
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;

    &.is-active {
        background-color: red !important; // Активная точка красная
        transform: scale(1.2); // Немного увеличиваем размер активного элемента
    }
}