.services {
    padding: 63px 0 200px;
    .container {
        width: clamp(320px, 90.2%, 2000px);
        margin: auto;
    }
    &__title {
        font-size: 2rem;
        font-weight: 500;
        color: #000;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 160px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            margin-top: 70px;
        }
    }
}